main {
  max-width: 960px; /* or 1024px */
  margin: 0 auto;
  width: 100%;
}

@media (max-width: 768px) {
  main {
    flex-direction: column;
    padding: 0.5rem;
  }
  main > div:first-child {
    margin-right: 0;
    margin-bottom: 1rem;
    min-width: unset;
  }
}
